@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    
        <li class="nav-item">
            @{
                
                var user = await UserManager.FindByNameAsync(User.Identity.Name);
                bool hasAdminRole = await UserManager.IsInRoleAsync(user, "Admin");
                if (user != null)
                {
                    if (hasAdminRole)
                    {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="ManageFirms" asp-action="Index" title="Manage">Upraviť firmy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="ManageUsers" asp-action="Index" title="Manage">Dobrý deň @user.FirstName</a>
                    </li>
                    }
                    else
                    {
                        
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="WorkTasks" asp-action="Index" title="Manage">Dobrý deň @user.FirstName</a>
                    </li>
                    }
                }
                else
                {
                    <a class="nav-link text-dark" title="Manage">!</a>
                }
            }
        </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark nav-item">Odhlásiť sa</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrovať sa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Prihlásiť sa</a>
    </li>
}
</ul>
