@model employeesTaskManager.Models.WorkTask

@{
    ViewData["Title"] = "Vytvoriť";
}

<style>
    .custom-body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        color: #343a40;
        margin: 0;
        padding: 0;
    }

    .custom-h1 {
        color: #2c3e50;
        margin-bottom: 20px;
    }

    .custom-h4 {
        color: #3498db;
        margin-bottom: 30px;
    }

    .custom-form {
        background-color: #ecf0f1;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .custom-form-group {
        margin-bottom: 20px;
    }

    .custom-label {
        color: #3498db;
        margin-bottom: 8px;
        display: block;
    }

    .custom-input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #dfe6e9;
        border-radius: 5px;
        background-color: #ffffff;
        color: #555;
    }

    .custom-submit {
        background-color: #3498db;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .custom-submit:hover {
            background-color: #2980b9;
        }

    .custom-a {
        color: #3498db;
        text-decoration: none;
    }

        .custom-a:hover {
            color: #2980b9;
        }

    .custom-text-danger {
        color: #e74c3c;
    }
</style>

<div class="custom-body">
    <h1 class="custom-h1">Vytvoriť novú úlohu</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" class="custom-form">
                <div asp-validation-summary="ModelOnly" class="text-danger custom-text-danger"></div>

                <input type="hidden" asp-for="Company" class="form-control custom-input" readonly />
                <input type="hidden" asp-for="EmployeeName" class="form-control custom-input" readonly />
                <input type="hidden" asp-for="Status" class="form-control custom-input" readonly />

                <div class="custom-form-group">
                    <label asp-for="Name" class="control-label custom-label">Názov úlohy</label>
                    <input asp-for="Name" class="form-control custom-input" />
                    <span asp-validation-for="Name" class="text-danger custom-text-danger"></span>
                </div>

                <div class="custom-form-group">
                    <label asp-for="DeadLine" class="control-label custom-label">Termín</label>
                    <input asp-for="DeadLine" type="date" class="form-control custom-input" id="deadlineInput" />
                    <span asp-validation-for="DeadLine" class="text-danger custom-text-danger"></span>
                </div>

                <div class="custom-form-group">
                    <label asp-for="Description" class="control-label custom-label">Popis úlohy</label>
                    <textarea asp-for="Description" class="form-control custom-textarea" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger custom-text-danger"></span>
                </div>

                <div class="custom-form-group">
                    <input type="submit" value="Vytvoriť" class="btn btn-primary custom-submit" />
                </div>
            </form>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="EmployeePage" asp-route-id="@Model.EmployeeName" class="custom-a">Späť na Zoznam</a>
    </div>
    <script>
        // Nastaviť predvolenú hodnotu na aktuálny dátum
        document.getElementById('deadlineInput').valueAsDate = new Date();
    </script>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
