@model IEnumerable<employeesTaskManager.Models.ManageUser>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UsrManager
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="SearchResults">
    <label for="searchInput">Search:</label>
    <input type="text" name="searchString" >
    <button type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Meno
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            <tr>
                <td>
                    @{
                        var tempUser = UsrManager.Users.FirstOrDefault(x => x.Id == item.UserId);
                        string name = $"{tempUser.FirstName} {tempUser.LastName}";
                    }
                @name
            </td>
            <td>
                    @Html.DisplayFor(modelItem => UsrManager.Users.FirstOrDefault(x => x.Id == item.UserId).Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
