@model IEnumerable<employeesTaskManager.Models.ManageUser>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UsrManager

@{
    ViewData["Title"] = "Index";
}

<form asp-action="SearchResults">
    <label for="searchInput">Search:</label>
    <input type="text" name="searchString" >
    <button type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Meno
            </th>
            <th>
                Email
            </th>
            <th>
                Firma
            </th>
            <th>
                Role
            </th>
            <th>
                
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            <tr>
                <td>
                    @{
                        var tempUser = UsrManager.Users.FirstOrDefault(x => x.Id == item.UserId);
                        string name = $"{tempUser.FirstName} {tempUser.LastName}";
                    }
                @name
                </td>
                <td>
                    @{
                        var user = UsrManager.Users.FirstOrDefault(x => x.Id == item.UserId);
                    }
                        @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @item.CompanyId
                </td>
                <th>
                    @{
                        var resRole = "";
                        foreach (var role in new string[]{"Admin", "Manager","Employee"})
                        {
                            if (await UsrManager.IsInRoleAsync(user, role))
                                resRole = role;
                        }
                    }
                    @resRole
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId" style="color: red;">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
